In [5]:
import pandas as pd
import numpy as np

In [2]:
import os

print(os.path.exists(r"C:\Users\ganes\OneDrive\Desktop\data project\superstore.csv"))

True

In [ ]:
# this read a file using head

In [3]:
df=pd.read_csv("C:\\Users\\ganes\\OneDrive\\Desktop\\data project\\superstore.csv")
print(df.head())

   Row ID        Order ID Order Date Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   08-11-16  11-11-16    Second Class    CG-12520
1       2  CA-2016-152156   08-11-16  11-11-16    Second Class    CG-12520
2       3  CA-2016-138688   12-06-16  16-06-16    Second Class    DV-13045
3       4  US-2015-108966   11-10-15  18-10-15  Standard Class    SO-20335
4       5  US-2015-108966   11-10-15  18-10-15  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [9]:
df.shape

(9994, 21)

In [25]:
df.columns = df.columns.str.replace("-", "_")
df.columns = df.columns.str.replace(" ","_")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9994 non-null   int64
 1   Order_ID       9994 non-null   object
 2   Order_Date     9994 non-null   object
 3   Ship_Date      9994 non-null   object
 4   Ship_Mode      9994 non-null   object
 5   Customer_ID    9994 non-null   object
 6   Customer_Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal_Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product_ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub_Category   9994 non-null   object
 16  Product_Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [27]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Row_ID,9994.0,4997.500000,2885.163629,1.000,2499.25000,4997.5000,7495.750,9994.000
Postal_Code,9994.0,55190.379428,32063.693350,1040.000,23223.00000,56430.5000,90008.000,99301.000
Sales,9994.0,229.858001,623.245101,0.444,17.28000,54.4900,209.940,22638.480
Quantity,9994.0,3.789574,2.225110,1.000,2.00000,3.0000,5.000,14.000
Discount,9994.0,0.156203,0.206452,0.000,0.00000,0.2000,0.200,0.800
Profit,9994.0,28.656896,234.260108,-6599.978,1.72875,8.6665,29.364,8399.976

In [28]:
df.columns.tolist()

['Row_ID',
 'Order_ID',
 'Order_Date',
 'Ship_Date',
 'Ship_Mode',
 'Customer_ID',
 'Customer_Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal_Code',
 'Region',
 'Product_ID',
 'Category',
 'Sub_Category',
 'Product_Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

finding a missing values

In [29]:
missingdata=df.isnull()
print(missingdata.sum())

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [30]:
df.nunique()

Row_ID           9994
Order_ID         5009
Order_Date       1237
Ship_Date        1334
Ship_Mode           4
Customer_ID       793
Customer_Name     793
Segment             3
Country             1
City              531
State              49
Postal_Code       631
Region              4
Product_ID       1862
Category            3
Sub_Category       17
Product_Name     1850
Sales            5825
Quantity           14
Discount           12
Profit           7287
dtype: int64

Remove Duplicate Rows

In [31]:
df_cleaned=df.drop_duplicates(keep='first',inplace=True)
print(len(df))

9994

Convert Date Columns

In [32]:
df['Order_Date'] = pd.to_datetime(df['Order_Date']) 
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])
df['Order_Day']=df['Order_Date'].dt.day
df['Order_Month']=df['Order_Date'].dt.month_name()
df['Order_Year']=df['Order_Date'].dt.year
df['Ship_Day']=df['Ship_Date'].dt.day
df['Ship_Month']=df['Ship_Date'].dt.month_name() 
df['Ship_Year']=df['Ship_Date'].dt.year
print(df.head())

C:\Users\ganes\AppData\Local\Temp\ipykernel_16920\1436050262.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Date'] = pd.to_datetime(df['Order_Date'])

   Row_ID        Order_ID Order_Date  Ship_Date       Ship_Mode Customer_ID  \
0       1  Ca-2016-152156 2016-08-11 2016-11-11    Second Class    Cg-12520
1       2  Ca-2016-152156 2016-08-11 2016-11-11    Second Class    Cg-12520
2       3  Ca-2016-138688 2016-12-06 2016-06-16    Second Class    Dv-13045
3       4  Us-2015-108966 2015-11-10 2015-10-18  Standard Class    So-20335
4       5  Us-2015-108966 2015-11-10 2015-10-18  Standard Class    So-20335

     Customer_Name    Segment        Country             City  ...     Sales  \
0      Claire Gute   Consumer  United States        Henderson  ...  261.9600
1      Claire Gute   Consumer  United States        Henderson  ...  731.9400
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...   14.6200
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  957.5775
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...   22.3680

   Quantity Discount    Profit Order_Day Order_Month Order_Year  Ship_Day  \
0         2     0.00   41.9136        11      August       2016        11
1         3     0.00  219.5820        11      August       2016        11
2         2     0.00    6.8714         6    December       2016        16
3         5     0.45 -383.0310        10    November       2015        18
4         2     0.20    2.5164        10    November       2015        18

   Ship_Month  Ship_Year
0    November       2016
1    November       2016
2        June       2016
3     October       2015
4     October       2015

[5 rows x 27 columns]

C:\Users\ganes\AppData\Local\Temp\ipykernel_16920\1436050262.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

5. Standardize Category / Text Columns

In [39]:
df = df.apply(lambda x: x.str.title() if x.dtype == "object" else x)
text_cols = ['Category', 'Sub_Category', 'City', 'State', 'Region', 'Segment']

for col in text_cols:
    df[col] = df[col].str.strip()

Shipping Delay (days)
Profit Margin

In [42]:
df['Shipping_Delay'] = (df['Ship_Date'] - df['Order_Date']).dt.days
df['Profit_Margin'] = (df['Profit'] / df['Sales']).round(2) 
print(df.head())

   Row_ID        Order_ID Order_Date  Ship_Date       Ship_Mode Customer_ID  \
0       1  Ca-2016-152156 2016-08-11 2016-11-11    Second Class    Cg-12520
1       2  Ca-2016-152156 2016-08-11 2016-11-11    Second Class    Cg-12520
2       3  Ca-2016-138688 2016-12-06 2016-06-16    Second Class    Dv-13045
3       4  Us-2015-108966 2015-11-10 2015-10-18  Standard Class    So-20335
4       5  Us-2015-108966 2015-11-10 2015-10-18  Standard Class    So-20335

     Customer_Name    Segment        Country             City  ... Discount  \
0      Claire Gute   Consumer  United States        Henderson  ...     0.00
1      Claire Gute   Consumer  United States        Henderson  ...     0.00
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...     0.00
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...     0.45
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...     0.20

   Profit Order_Day Order_Month Order_Year Ship_Day Ship_Month  Ship_Year  \
0   41.91        11      August       2016       11   November       2016
1  219.58        11      August       2016       11   November       2016
2    6.87         6    December       2016       16       June       2016
3 -383.03        10    November       2015       18    October       2015
4    2.52        10    November       2015       18    October       2015

   Shipping_Delay  Profit_Margin
0              92           0.16
1              92           0.30
2            -173           0.47
3             -23          -0.40
4             -23           0.11

[5 rows x 29 columns]

In [41]:
df['Sales'] = df['Sales'].round(2)
df['Profit'] = df['Profit'].round(2)
df['Discount'] = df['Discount'].round(2)

Save Cleaned Output

In [43]:
df.to_csv("superstore_cleaned.csv", index=False)
print("Cleaned dataset saved!")

Cleaned dataset saved!